<!DOCTYPE html>
<html lang="en">
<head>
    
    <title>Document</title>
</head>
<body>

    <h1>Welcome <%= user.name%></h1> 
    <!-- here user.name was render from res.render -->
    
</body>
</html>