<!DOCTYPE html>
<html lang="en">
<head>
        <title>Document</title>
</head>
<body>

    <h1>Welcome <%= user.name%></h1> 
    <h2>age : <%=user.age%></h2>
    <h3>profession : <%=user.profession%></h3>
    <!-- here user.name was render from res.render -->

    <ul>

        <% user.skill.forEach((item)=>{ %>
            <li><%= item%></li>

       <% })%>


    </ul>
    
</body>
</html>